
/.DS_Store

/CMakeCache.txt

/CMakeFiles/

/CMakeScripts/

/Debug/

/Release/

/apps/Debug/

/apps/Release/

/apps/portsmf.build/

/build/

/portsmf.build/

/portsmf_test/Debug/

/portsmf_test/Release/

/portsmf_test/portsmf.build/
